.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}